@page
@model TheLendingCircle.Pages_Admin_Review.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{int idx = 0;}
@foreach (var item in Model.Review) {
        string color = idx % 2 == 0 ? "background-color:rgb(121,114,207,.1)" : "0";
        <tr style="@color">
            <td>
                @Html.DisplayFor(modelItem => item.ReviewBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        idx++;
}
    </tbody>
</table>
