@page "{id:int}"
@model TheLendingCircle.Pages.Items.Index
@using TheLendingCircle.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Item Page";
}

<div class="d-lg-flex gap-3">
    <div style="max-width:600px" class="container">
        <img class="p-0 container-fluid roundedcorners"
            src="@Model.CurrentItem.ItemPhotoPath" alt="item" />
    </div>
    <div class="p-4 container-fluid">
        <h1>@Model.CurrentItem.Title - @Model.CurrentItem.Condition</h1>
        <h3>
            @if (Model.CurrentItem.Available)
            {
                <span class="text-success">Currently Available</span>
            }
            else
            {
                <span class="text-secondary">Currently Unavailable</span>
            }
        </h3>
        <h5><a asp-page="/Profile" asp-route-id="@Model.CurrentItem.Id">@Model.CurrentItem.Owner</a></h5>
        <p>@Model.CurrentItem.Description</p>

        @if (SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <h4>
                    <label asp-for="RequestMessage" class="control-label"></label>
                </h4>
                <span asp-validation-for="RequestMessage" class="text-danger"></span>
                <textarea asp-for="RequestMessage" style="height:150px" class="my-2 form-control"
                placeholder="Leave a message..."></textarea>
                <div>
                    <button type="submit" class="roundedcorners px-5 btn btn-success">Request</button>
                </div>
            </form>
        }
    </div>
</div>
