@page "{query:regex(^[A-Za-z0-9 -_.]+)?}"
@model TheLendingCircle.Pages.Items.SearchModel
@{
    ViewData["Title"] = "Search Page";

}
<div class="container" id="search-container">
    <partial name="../Shared/SearchPartial" model=@Model.SearchString />

    <h1>@(string.IsNullOrEmpty(@Model.Query) ? "" : $"Showing results for '{Model.Query}'")</h1>

    @if (Model.ItemsList.Count < 1)
    {
        <h2>No results found for '@Model.Query'</h2>
    }

    @foreach (var item in Model.ItemsList)
    {
        <a asp-page="/Items/Index" asp-route-id="@item.Id">
            <div class="my-5 w-100 h-100 border-secondary gap-5 d-flex">
                <div>
                    <img class="roundedcorners" style="object-fit: cover;" width=200 height=200 src="@item.ItemPhotoPath">
                </div>
                <div class="my-1 container-fluid">
                    <h4>@item.Title</h4>
                    <h6><a asp-page="/Profile" asp-route-id="@item.Id">@item.Owner</a></h6>
                    <h6>
                        @if (item.Available)
                        {
                            <span class="text-success">Currently Available</span>
                        }
                        else
                        {
                            <span class="text-secondary">Currently Unavailable</span>
                        }
                    </h6>
                    <p>
                        @if (item.Description.Length < 120)
                        {
                            @item.Description
                            ;
                        }
                        else
                        {
                            @item.Description.Substring(0,120)
                            ;
                        }
                        ...</p>
                </div>
            </div>
        </a>
    }
</div>
@if (Model.ItemsList.Count > 0)
{
    <div style="width:300px" id="LoadMoreItems" class="mx-auto">
        <button onclick="loadMore(event)" style="background-color:#6171FF;" class="roundedcorners btn btn-primary container-fluid px-5">Load More</button>
    </div>
}

<Script>
    let itemCount = 3;
    let SearchQuery = @Html.Raw(Json.Serialize(Model.Query));
    function loadMore(event) {
        event.preventDefault();
        $.ajax({
            type: 'GET',
            url: '/Items/Search?handler=LoadMore',
            data: {
                ItemCount: itemCount,
                SearchQuery
            },
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        })
            .done(function (result) {
                if (result.success) {
                    $.each(result.data, function (key, item) {
                        console.log(result)
                        $("#search-container").append(`
                                <a href="/Items/${item.id}">
                                    <div class="my-5 w-100 h-100 border-secondary gap-5 d-flex">
                                        <div>
                                            <img style="object-fit: cover;" class="roundedcorners" width=200 height=200
                                            src="${item.itemPhotoPath}">
                                        </div>
                                        <div class="my-1 container-fluid">
                                            <h4>${item.title}</h4>
                                            <h6><a href="/Profile/${item.id}">${item.owner.userName}</a></h6>
                                            <h6>
                                                ${item.available ?
                                `<span class="text-success">Currently Available</span>` :
                                `<span class="text-secondary">Currently Unavailable</span>`
                            }
                                            </h6>
                                            <p>
                                                ${item.description.length < 120 ?
                                item.description :
                                item.description.Substring(0, 120)
                            }
                                                ...</p>
                                        </div>
                                    </div>
                                </a>
                        `);
                    })
                    itemCount += 3;
                } else {
                    $("#LoadMoreItems").remove();
                }
            })
    }
</Script>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}