@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1>Register</h1>
    <h4>User</h4>
</div>

<div class="Container w-100 d-flex justify-content-center">

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="w-50 row g-4 needs-validation"
        novalidate>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-4">
            <input asp-for="Input.FirstName" class="form-control" autocomplete="First Name" aria-required="true" />
            <label asp-for="Input.FirstName"></label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <input asp-for="Input.LastName" class="form-control" autocomplete="Last Name" aria-required="true" />
            <label asp-for="Input.LastName"></label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="col-4">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                aria-required="true" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-12">
            <input asp-for="Input.Address" class="form-control" autocomplete="address" aria-required="true" />
            <label asp-for="Input.Address"></label>
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Input.City" class="form-control" autocomplete="address" aria-required="true" />
            <label asp-for="Input.City"></label>
            <span asp-validation-for="Input.Address" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <select asp-for="Input.Province" class="form-select">
                <option selected>Choose...</option>
                <option value="NL">NL</option>
                <option value="PE">PE</option>
                <option value="NS">NS</option>
                <option value="NB">NB</option>
                <option value="QC">QC</option>
                <option value="ON">ON</option>
                <option value="MB">MB</option>
                <option value="SK">SK</option>
                <option value="AB">AB</option>
                <option value="BC">BC</option>
                <option value="YT">YT</option>
                <option value="NT">NT</option>
                <option value="NU">NU</option>
            </select>
            <label asp-for="Input.Province" class="form-label"></label>
        </div>
        <div class="col-md-2">
            <input asp-for="Input.PostalCode" class="form-control" autocomplete="address" aria-required="true" />
            <label asp-for="Input.PostalCode"></label>
            <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <input asp-for="Input.UserPhotoPath" class="form-control" autocomplete="Placeholder" aria-required="true"
                hidden="true" value="Placeholder" />
            <span asp-validation-for="Input.UserPhotoPath" class="text-danger"></span>
        </div>
        <div class="col-12">
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </div>
    </form>


    @* <div class="col-md-6 col-md-offset-2">
        <section>
        <h3>Use another service to register.</h3>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a
        href="https://go.microsoft.com/fwlink/?LinkID=532715">article
        about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
        class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
        title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>
        </div> *@

</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
