@page
@using Microsoft.AspNetCore.Identity
@using TheLendingCircle.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@section Styles {
<link rel="stylesheet" href="~/css/MyCircle.css" />
}
@model TheLendingCircle.Pages.MyCircle.OpenCirclesModel
@{
    ViewData["Title"] = "Open Circles";
}

<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover" style="background-color: lightskyblue;"></div>
            <div class="profile-header-content">
                <div class="">
                    <img src="@Model.CurrentUser.UserPhotoPath" class="mb-4 rounded-circle cover float-start me-3"
                        alt="" />
                </div>

                <div class="profile-header-info">
                    <h4 class="m-t-sm">@Model.CurrentUser.FirstName @Model.CurrentUser.LastName</h4>
                    <p class="m-b-sm">@User.Identity?.Name</p>
                    <a class="btn btn-xs btn-primary mb-2" asp-area="Identity" asp-page="/Account/Manage/Index"
                        title="Manage">Edit Profile</a>
                </div>
            </div>

            <ul class="profile-header-tab nav nav-tabs">
                <li class="nav-item mt-1"><a href="./MyItems" class="nav-link" data-toggle="tab">MY
                        ITEMS</a></li>
                <li class="nav-item mt-1"><a href="./ClosedCircles" class="nav-link" data-toggle="tab">CLOSED
                        CIRCLES</a></li>
                <li class="nav-item mt-1"><a href="./OpenCircles" class="nav-link active show"
                        style="color: lightskyblue;" data-toggle="tab">OPEN CIRCLES</a></li>
                <li class="nav-item mt-1"><a href="./CircleRequests" class="nav-link" data-toggle="tab">CIRCLE
                        REQUESTS</a></li>
                <li class="nav-item mt-1"><a href="./MyReviews" class="nav-link" data-toggle="tab">MY REVIEWS</a></li>
            </ul>
        </div>

        <div class="container d-flex flex-column justify-content-evenly w-75">
            <h2 class="mt-2">My Open Circles</h2>
            <p class="mt-3 mb-0 w-25 fw-light fst-italic">My Loaned Items</p>
            <hr />

            @foreach (var loan in Model.LoanedItems)
            {
                <div class="Container bg-light bd-highlight my-4">
                    <div class="row">
                        <div class="col col-lg-8">
                            <div class="m-b-10"><b>Circle# @loan.Id</b></div>
                            <img src="@loan.ItemLoaned.ItemPhotoPath" class="img-fluid mb-4 " alt="" />
                        </div>
                        <div class="col-lg-4 hidden-xs hidden-sm">
                            <ul class="profile-info-list">
                                <li class="title">CIRCLE INFORMATION</li>
                                <li>
                                    <div class="field">Date Loaned:</div>
                                    <div class="value">@loan.CreationTime</div>
                                </li>
                                <li>
                                    <div class="field">Expected Return:</div>
                                    <div class="value">@loan.DueDate</div>
                                </li>
                                <li>
                                    <div class="field">Borrower Profile:</div>
                                    <div class="value">
                                        <a class="nav-item" asp-area="" asp-route-id="@loan.Borrower.Id"
                                        asp-page="#../Users/UserProfile">@loan.Owner.Email</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="field">Borrower Name:</div>
                                    <div class="value">@loan.Owner.FirstName @loan.Owner.LastName</div>
                                </li>
                                <li>
                                    <div class="field">Item Requested:</div>
                                    <div class="value">@loan.ItemLoaned.Title</div>
                                </li>
                                <li>
                                    <div class="field">Item Return Form:</div>
                                    <div class="value"><a class="btn btn-xs btn-primary mb-2" asp-area="" asp-route-id="@loan.Id" asp-page="./CloseCircle">Close Circle</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            }
            <p class="mt-3 mb-0 w-25 fw-light fst-italic">My Borrowed Items</p>
            <hr />
            @foreach (var loan in Model.BorrowedItems)
            {
                <div class="Container bg-light bd-highlight my-4">
                    <div class="row">
                        <div class="col col-lg-8">
                            <div class="m-b-10"><b>Circle# @loan.Id</b></div>
                            <img src="@loan.ItemLoaned.ItemPhotoPath" class="img-fluid mb-4 " alt="" />
                        </div>
                        <div class="col-lg-4 hidden-xs hidden-sm">
                            <ul class="profile-info-list">
                                <li class="title">CIRCLE INFORMATION</li>
                                <li>
                                    <div class="field">Date Loaned:</div>
                                    <div class="value">@loan.CreationTime</div>
                                </li>
                                <li>
                                    <div class="field">Expected Return:</div>
                                    <div class="value">@loan.DueDate</div>
                                </li>
                                <li>
                                    <div class="field">Borrower Profile:</div>
                                    <div class="value">
                                        <a class="nav-item" asp-area="" asp-route-id="@loan.Borrower.Id" asp-page="#../Users/UserProfile">@loan.Owner.Email</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="field">Borrower Name:</div>
                                    <div class="value">@loan.Owner.FirstName @loan.Owner.LastName</div>
                                </li>
                                <li>
                                    <div class="field">Item Requested:</div>
                                    <div class="value">@loan.ItemLoaned.Title</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
</div>
